.haltPage {
  background: #0a0a0a; // Глубокий черный для эффекта выключения
  color: $color-text-muted;
  height: 100dvh;
  padding: 40px;
  font-family: $font-main;
  line-height: 1.6;
  overflow-y: auto;

  @include mobile { padding: 20px; font-size: 0.8rem; }

  .console {
    max-width: 800px;
    margin: 0 auto;
    p { margin: 4px 0; word-break: break-all; }
    b { color: lab(82.57% -45.43 18.06); }
  }

  .path { color: $color-console-user; margin-top: 20px !important; }

  .fileList {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .link {
      color: $color-accent;
      text-decoration: none;
      width: fit-content;
      display: block;
      &:hover { background: rgba($color-accent, 0.1); }
    }
  }

  .prompt { 
    margin-top: 30px !important; 
    color: #fff; 
    font-weight: bold;
    .blink {
      @include cursor-blink(#fff);
      background: #fff;
      width: 8px;
      height: 1.2rem;
      display: inline-block;
      margin-left: 10px;
      animation: blink 1s step-end infinite;
    }
  }
}