@use "@/styles/_mixins.scss" as mix;
@use "@/styles/_theme.scss" as theme;

.navigationContainer {
  width: max-content;
  position: fixed;
  top: var(--default-padding);
  right: var(--default-padding);
  // transform: translateX(-50%);
  z-index: var(--z-nav);
}

.navBubble {
  @include mix.glass-panel;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 0.5rem;
  border-radius: var(--radius-md);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  user-select: none;

  .link {
    text-decoration: none;
    color: var(--text-secondary);
    padding: 0.5rem 0.8rem;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: clamp(0.75rem, 2.5vw, 0.875rem);

    &:hover {
      color: var(--text-primary);
      background: rgba(255, 255, 255, 0.05);
    }

    &.active {
      // background: var(--accent);
      color: #fff;
      background: linear-gradient(
        145deg,
        color-mix(var(--accent), oklch(0 0 0 / 0) 50%),
        color-mix(var(--accent), black 10%, oklch(0 0 0 / 0) 50%)
      );
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
  }

  .separator {
    width: 4px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--bg-content-border);
  }
}
