@use "@/styles/_shared.scss" as shared;

.goals-page {
   @include shared.page-styles;
   max-width: 940px !important;

   .header-container {
      width: 100%;
      max-width: 640px;
      background: rgba(22, 22, 22, 0.7);
      color: #d8d8d8;
      line-height: 1.2;
      padding: 0 8px 8px 8px;
      border: none;
      border-radius: 0.2rem;
      box-shadow:
         0 4px 6px rgb(0, 0, 0, 0.5),
         0 -4px 6px rgba(0, 0, 0, 0.5),
         4px 0 6px rgba(0, 0, 0, 0.5),
         -4px 0 6px rgba(0, 0, 0, 0.5);
      margin: 4px 4px 16px 4px;

      .headerInfo {
         margin: 4px 0 16px 0;
         border-bottom: 2px solid rgba(255, 255, 255, 0.1);
         overflow: hidden;

         .headerTitle {
            font-size: 1.4rem;
         }
         .headerDesc {
            font-size: 1rem;
            color: #b8baba;
            margin-bottom: 4px;
         }
      }

      .headerStatsContainer {
         position: relative;
         max-width: 100%;
         max-height: 14rem;
         border-radius: 0.2rem;
         scrollbar-width: thin;
         scrollbar-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0);
         overflow-y: auto;

         .editContainer {
            border-right: none;
            padding: 4px 4px 0 4px;
         }

         .goalItem {
            $borderRadius: 6px;
            $itemHeight: fit-content;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            height: $itemHeight;
            background-image: url("/goal-assets/component-bg.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            line-height: 1;
            color: #d8d8d8;
            padding: 10px 14px 10px 14px;
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
            margin-bottom: 0.3em;
            overflow: hidden;
            user-select: none;
            z-index: 7;

            .overlay {
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               display: flex;
               background-color: rgba(0, 0, 0, 0.85);
               backdrop-filter: blur(1px);
               border: 3px solid rgba(255, 255, 255, 0.2);
               border-right: none;
               border-top-left-radius: $borderRadius;
               border-bottom-left-radius: $borderRadius;
               z-index: 7;
            }

            .count {
               position: relative;
               font-size: 1.2rem;
               font-weight: 400;
               margin-bottom: 6px;
               z-index: 8;
            }
            .title {
               position: relative;
               color: #7e8a8e;
               font-size: 0.8rem;
               margin-bottom: 2px;
               z-index: 8;
            }

            .priorityDesc {
               width: 360px;
               font-size: 0.72rem;
               color: color.adjust(#7e8a8e, $lightness: -20%);
               z-index: 8;
            }
         }
      }
   }

   .tasks-container {
      width: fit-content;
      max-width: 860px;
      background: rgba(22, 22, 22, 0.7);
      color: #d8d8d8;
      line-height: 1.2;
      border: none;
      border-radius: 0.6rem;
      padding: 0;
      box-shadow:
         0 4px 6px rgb(0, 0, 0, 0.5),
         0 -4px 6px rgba(0, 0, 0, 0.5),
         4px 0 6px rgba(0, 0, 0, 0.5),
         -4px 0 6px rgba(0, 0, 0, 0.5);
      margin: 4px 4px 16px 4px;

      .projectCard {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;

         .projectHeaderTitle {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            line-height: 1;
            padding: 6px 12px 12px 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.35);
            margin: 6px 0 0 0;

            .projectInfoContainer {
               width: 100%;
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               gap: 10px;

               .projectTitle {
                  width: 100%;
                  display: flex;
                  align-self: center;
                  font-family: "JetBrains Mono SemiBold", monospace;
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.2;
                  text-shadow: $defaultTextShadow;
                  margin-left: 8px;
               }
            }
            .projectDesc {
               width: fit-content;
               max-width: 80%;
               font-family: "JetBrains Mono Thin", monospace;
               font-size: 0.88rem;
               font-weight: 400;
               color: #d1d1d1;
               text-shadow: $defaultTextShadow;
               padding: 5px;
               border-radius: 0.4rem;
               margin-left: 6px;
            }

            .projectGoals {
               display: flex;
               align-self: start;
               background: rgba(0, 0, 0, 0.65);
               padding: 8px 8px;
               border: 1px solid rgba(0, 0, 0, 0.65);
               border-radius: 0.8rem;
               box-shadow: $defaultContainerShadow;
               margin-right: 8px;

               .goals {
                  font-family: "JetBrains Mono Light", monospace;
                  font-size: 0.8rem;
                  font-weight: 500;
                  color: rgb(172, 172, 172);
                  text-wrap: nowrap;
                  text-shadow: $defaultTextShadow;
               }
            }
         }

         .taskList {
            --max-items: 1;
            width: fit-content;
            max-width: 100%;
            display: grid;
            align-self: center;
            grid-template-columns: repeat(var(--max-items), 1fr);
            gap: 10px;
            padding: 10px;
            overflow: hidden;

            @media (min-width: 625px) {
               --max-items: 2;
            }
            @media (min-width: 860px) {
               --max-items: 3;

               .contentContainer {
                  max-width: 480px;
               }
            }

            .contentContainer {
               width: 100%;
               max-width: 100%;
               display: flex;
               flex-direction: column;
               background: rgba(22, 22, 22, 0.2);
               padding: 6px 10px 8px 10px;
               border: 2px solid rgba(0, 0, 0, 0.06);
               border-radius: 0.6rem;
               box-shadow: 0 1px 8px rgba(22, 22, 22, 0.35);
               text-shadow: $defaultTextShadow;

               .taskTitle {
                  font-size: 1.14rem;
                  padding-left: 8px;
                  margin-bottom: 5px;
               }
               .taskDesc {
                  width: fit-content;
                  max-width: 100%;
                  font-size: 0.96rem;
                  margin-bottom: 0.8rem;
               }

               .taskMeta {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  gap: 0.8rem;
                  font-size: 0.8rem;
                  margin: 0;

                  .metaItem {
                     max-width: fit-content;
                     background: rgba(0, 0, 0, 0.06);
                     padding: 8px;
                     border: none;
                     border-radius: 0.3rem;
                     box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);

                     &.statusCompleted {
                        $statusColor: rgb(40, 167, 69);
                        background-color: color.change(
                           $statusColor,
                           $alpha: 0.04
                        );
                        color: #28a745;
                        border: 1px solid
                           color.change($statusColor, $alpha: 0.02);
                        box-shadow: 0 0 6px
                           color.change($statusColor, $alpha: 0.16);
                     }
                     &.statusInProcess {
                        $statusColor: rgb(99, 221, 255);
                        background-color: color.change(
                           $statusColor,
                           $alpha: 0.04
                        );
                        color: #63ddff;
                        border: 1px solid
                           color.change($statusColor, $alpha: 0.02);
                        box-shadow: 0 0 6px
                           color.change($statusColor, $alpha: 0.16);
                     }
                     &.statusAwaiting {
                        $statusColor: rgb(246, 192, 32);
                        background-color: color.change(
                           $statusColor,
                           $alpha: 0.04
                        );
                        color: #f6c020;
                        border: 1px solid
                           color.change($statusColor, $alpha: 0.02);
                        box-shadow: 0 0 6px
                           color.change($statusColor, $alpha: 0.16);
                     }
                     &.statusAbandoned {
                        $statusColor: rgb(108, 117, 125);
                        background-color: color.change(
                           $statusColor,
                           $alpha: 0.04
                        );
                        color: #7b838a;
                        border: 1px solid
                           color.change($statusColor, $alpha: 0.02);
                        box-shadow: 0 0 6px
                           color.change($statusColor, $alpha: 0.16);
                     }

                     /* Модификаторы для приоритетов */
                     &.priorityHigh {
                        $statusColor: rgb(224, 71, 86);
                        background-color: color.change(
                           $statusColor,
                           $alpha: 0.04
                        );
                        color: #e04756;
                        border: 1px solid
                           color.change($statusColor, $alpha: 0.02);
                        box-shadow: 0 0 6px
                           color.change($statusColor, $alpha: 0.16);
                     }
                     &.priorityMedium {
                        $statusColor: rgb(242, 150, 38);
                        background-color: color.change(
                           $statusColor,
                           $alpha: 0.04
                        );
                        color: #f29626;
                        border: 1px solid
                           color.change($statusColor, $alpha: 0.02);
                        box-shadow: 0 0 6px
                           color.change($statusColor, $alpha: 0.16);
                     }
                     &.priorityLow {
                        $statusColor: rgb(83, 205, 111);
                        background-color: color.change(
                           $statusColor,
                           $alpha: 0.04
                        );
                        color: #53cd6f;
                        border: 1px solid
                           color.change($statusColor, $alpha: 0.02);
                        box-shadow: 0 0 6px
                           color.change($statusColor, $alpha: 0.16);
                     }
                  }
               }
            }
         }
      }
   }
}
