.tabs {
  display: flex;
  border-top: 1px solid $color-border-tabs;
  border-bottom: 1px solid $color-border-tabs;
  padding: 15px 0;
  gap: 40px;

  .tab {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    position: relative;

    &:hover { filter: brightness(70%); }

    &::after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 0;
      height: 2px;
      background: $color-text-main;
      transition: width 0.3s ease;
    }

    &:hover::after { width: 100%; }
    
    &.active {
      &::after { width: 70%; }
    }
  }
}