@use "sass:color";

// --- Цветовая палитра ---
$color-bg-system: #3e3c46ff; 
$color-bg-secondary: #f0f0f0ff;
$color-text-main: #dfd7e3ff;
$color-text-muted: #aaaaaaff;
$color-text-description: #b7aac2ff;
$color-accent: #8559e2;
$color-border: rgba(255, 255, 255, 0.08);
$color-border-tabs: rgba(255, 255, 255, 0.4); 

// --- Типографика ---
$font-main: 'JetBrains Mono', monospace;

// --- Специфические цвета консоли ---
$color-console-user: #4ec9b0;
$color-console-string: #ce9178;
$color-console-error: #ff5555;

// --- Размеры и Радиусы ---
$container-max-width: 800px;
$avatar-radius: 8%;
$preview-width: 280px;

// --- Слойность (Z-index) ---
$z-bg: -1;
$z-app: 1;
$z-preview: 9999;

// --- Адаптивность ---
$mobile: 600px;
$tablet: 900px;

@mixin mobile {
  @media (max-width: #{$mobile}) { @content; }
}

@mixin tablet {
  @media (max-width: #{$tablet}) { @content; }
}

// Добавьте в конец файла _variables.scss
@mixin cursor-blink($color: $color-accent) {
  width: 8px;
  height: 1.2rem;
  background: $color;
  display: inline-block;
  margin-left: 5px;
  animation: blink 1s step-end infinite;
}

@keyframes blink { 
  50% { opacity: 0; } 
}

// --- Вспомогательные функции ---
$color-text-very-muted: color.adjust($color-text-main, $alpha: -0.6);