@use "sass:color";

$primaryTextColor: rgb(43, 53, 53);
$secondaryTextColor: rgb(78, 92, 92);

$linkColor: rgb(85, 102, 102);
$linkColorHover: rgb(55, 65, 65);
$linkActiveColor: rgb(49, 58, 58);

$separatorColor: rgba(85, 114, 114);
