@use "@/styles/_shared.scss" as shared;

$max-width: 700px;

.home {
   @include shared.page-styles;

   .openAboutMe {
      margin: 12px 0 0 0;

      button {
         background: rgba(255, 255, 255, 0.6);
         color: $primaryTextColor;
         font-family: "JetBrains Mono Light", monospace;
         font-size: 0.84rem;
         font-weight: 600;
         padding: 14px 16px;
         border: 1px solid rgba(0, 0, 0, 0.32);
         border-radius: 32px;

         cursor: pointer;
         user-select: none;
         transition: background-color 0.2s ease;

         appearance: none;

         &:disabled {
            background: rgba(255, 255, 255, 0.2);
            color: color.change($primaryTextColor, $alpha: 0.5);
            border: 1px solid transparent;
            cursor: not-allowed;
         }
      }
   }

   .heroSection {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-family: "JetBrains Mono Light", monospace;

      .title {
         font-size: 2.2rem;
         color: $primaryTextColor;
         font-weight: 700;
      }

      .subtitle {
         font-size: 1.15rem;
         font-weight: 400;
         color: $secondaryTextColor;
         line-height: 1.4;
         max-width: 600px;
         margin: 0 auto;
      }
   }

   .contentSection {
      display: flex;
      flex-direction: column;
      gap: 20px;
   }

   .placeholderCard {
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      padding: 16px;
      text-align: center;

      display: flex;
      flex-direction: column;
      gap: 8px;

      h3 {
         color: $primaryTextColor;
         font-size: 1.25rem;
      }

      p {
         color: $secondaryTextColor;
         font-size: 0.95rem;
         line-height: 1.4;
      }
   }
}
