@keyframes fade-card-down {
    0% {
        opacity: 0;
        transform: translateY(-4px);
    } 100% {
        opacity: 1;
        transform: translateY(0);
    }
} @keyframes fade-card-up {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    z-index: 1;
    border: 2px dashed wheat;
    .homepage-grid {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;

        @media(min-width: 1138px) {
            display: grid;
            grid-template-areas:
                "main-card"
                "info-card";
            grid-template-rows: 2fr auto;
            padding: 26px;

            .profileCard {
                justify-self: center;
            }
            .cardContainer {
                align-self: center;
            }
        }

        .profileCard {
            display: grid;
            grid-template-areas:
                "profile-header"
                "profile-desc"
                "profile-footer";
            grid-template-rows: auto 1fr;
            max-width: 450px;
            background-color: rgba(0,0,0,0.2);
            border-radius: 16px;
            box-shadow: 0 0 9px rgba(0,0,0,0.8);
            backdrop-filter: blur(10px);
            margin: 6px 6px;
            transition:
                background-color 0.7s ease;
            &:hover {
                background-color: rgba(20,20,20,0.2);
            }

            .mainInfo {
                grid-area: profile-header;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: 100%;
                padding: 15px 0;
                border-bottom: 2px solid rgba(0,0,0,0.06);
                margin-bottom: 4px;

                .nickname {
                    display: flex;
                    flex-shrink: 0;
                    color: var(--accent-color);
                    font-size: 3rem;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    letter-spacing: 1px;
                    text-shadow:
                        0 1px 3px var(--box-shadow-color),
                        0 -1px 3px var(--box-shadow-color),
                        1px 0 3px var(--box-shadow-color),
                        -1px 0 3px var(--box-shadow-color);
                    filter: brightness(90%) grayscale(30%);
                    margin: 0;
                }

                .separator {
                    content: '';
                    width: 3px;
                    height: 69px;
                    background-color: rgba(100,100,100,0.2);
                    border-radius: 8px;
                }

                .avatarContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 75px;
                    height: 100%;
                    user-select: none;
                    .avatar {
                        display: block;
                        width: 92%;
                        height: 92%;
                        border-radius: 12px;
                        filter: brightness(90%);
                    } .avatarPlaceholder_container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                    } .avatarPlaceholder {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        height: 100%;
                        line-height: 1;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 1.6rem;
                        font-weight: 600;
                        text-indent: 5px;
                        letter-spacing: 4px;
                        background-color: #111;
                        border-radius: 12px;
                    }
                }
            }

            .descriptionContainer {
                grid-area: profile-desc;
                text-align: center;
                padding: 6px 6px;

                .description {
                    color: #ccc;
                    text-shadow:
                        0 1px 3px var(--box-shadow-color),
                        0 -1px 3px var(--box-shadow-color),
                        1px 0 3px var(--box-shadow-color),
                        -1px 0 3px var(--box-shadow-color);
                    line-height: 1.2;
                    letter-spacing: 2px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 1.1rem;
                    margin: 0 0 6px 0;
                } .footerNote {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-self: flex-end;
                    color: #aaa;
                    font-size: 0.9rem;
                    padding: 8px 6px 6px 0;
                    margin: 0;
                    border-top: 1px solid rgba(255,255,255,0.1);

                    .noteText {
                        display: flex;
                    }
                    .issueLink {
                        display: flex;
                        justify-content: flex-end;
                        text-decoration: none;
                        color: $links-color;
                        padding: 0;
                        margin: 0 0 0 5px;

                        &:hover {
                            text-decoration: underline;
                            transform: scale(1.01);
                        }
                    }
                    .linkToIrisPage {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 1rem;
                        gap: 4px;
                        text-decoration: none;
                        p {
                            color: $links-color;
                            padding: 0;
                            margin: 0;
                        }

                        :hover {
                            text-decoration: underline;
                            transform: scale(1.01);
                        }
                    }
                }
            }

            .profileFooter {
                grid-area: profile-footer;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .btnMoreInfo {
                    display: block;
                    background: none;
                    font-size: 1rem;
                    border: none;
                    border-radius: 3px;
                    padding: 8px 8px;
                    margin: 0 8px 8px 0;
                    &:hover {
                        background: rgba(255,255,255,0.1);
                    }
                }
            }
        }

        .cardContainer {
            max-width: 100%;
            backdrop-filter: blur(6px) !important;
            padding: 0 !important;
            margin: 10px !important;
            opacity: 0;
            &.visible {
                opacity: 1;
                animation: fade-card-down 0.5s ease-in-out;
            } &.hidden {
                animation: fade-card-up 0.4s ease-in-out;
            }

            .infoContainer {
                width: clamp(284px, 80vw, 690px);
                max-height: 400px;
                padding: 10px 10px;
                overflow: hidden;
                

                .infoHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 4px 15px 4px;
                    .infoTitle {
                        color: #ccc;
                        line-height: 1;
                        font-size: 1.8rem;
                        text-align: center;
                        margin: 0;
                        text-shadow:
                            0 1px 3px var(--box-shadow-color),
                            0 -1px 3px var(--box-shadow-color),
                            1px 0 3px var(--box-shadow-color),
                            -1px 0 3px var(--box-shadow-color);
                    }
                    .btnSwitch {
                        background-color: rgba(167,230,243,0.18);
                        color: #ccc;
                        font-weight: 600;
                        padding: 8px 10px;
                        border: 2px solid rgba(167, 230, 243, 0.12);
                        border-radius: 8px;
                        cursor: pointer;
                        user-select: none;
                        text-shadow:
                            0 1px 3px var(--box-shadow-color),
                            0 -1px 3px var(--box-shadow-color),
                            1px 0 3px var(--box-shadow-color),
                            -1px 0 3px var(--box-shadow-color);
                        transition: 
                            background-color 0.4s ease,
                            border-color 0.4s ease,
                            transform 0.3s ease;

                        &:hover {
                            background-color: rgba(167, 230, 243, 0.12);
                            border: 2px solid rgba(167, 230, 243, 0.06);
                            transform: scale(1.02);
                        } &.active {
                            background-color: rgba(167, 230, 243, 0.32);
                            border: 2px solid rgba(167, 230, 243, 0.20);
                            &:hover {
                                background-color: rgba(167, 230, 243, 0.24);
                                border: 2px solid rgba(167, 230, 243, 0.12);
                                transform: scale(1.02);
                            }
                        }
                    }
                }

                .infoContent_Container {
                    max-height: 320px;
                    background-color: rgba(255,255,255,0.02);
                    line-height: 1.2;
                    font-size: 1.2rem;
                    border: 1px solid rgba(0,0,0,0.6);
                    border-radius: 6px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    appearance: none;
                    &::-webkit-scrollbar { width: 10px; }
                    &::-webkit-scrollbar-track { background-color: transparent; }
                    &::-webkit-scrollbar-thumb { background-color: rgba(142, 170, 221, 0.2); border: 2px solid transparent; background-clip: padding-box; border-radius: 10px; &:hover { background-color: rgba(142, 170, 221, 0.3); border: 3px solid transparent; } }

                    .item {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        align-items: center;
                        gap: 3px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        overflow-wrap: anywhere;
                        padding: 4px 0 4px 0;
                        margin-bottom: 4px;
                        background-color: rgba(255,255,255,0.04);
                        border-bottom: 1px solid rgba(255,255,255,0.24);
                        white-space: pre-wrap;
                        text-shadow:
                            0 1px 3px var(--box-shadow-color),
                            0 -1px 3px var(--box-shadow-color),
                            1px 0 3px var(--box-shadow-color),
                            -1px 0 3px var(--box-shadow-color);
                        &:hover {
                            background-color: rgba(255,255,255,0.08);
                        }

                        .label {
                            display: flex;
                            justify-content: flex-end;
                            font-weight: 600;
                            font-size: 1.02rem;
                            color: #ccc;
                            letter-spacing: 1px;
                            padding-left: 8px;
                            padding-right: 8px;
                            border-right: 1px solid rgba(0,0,0,0.5);
                        }
                        .code {
                            background-color: rgba(0,0,0,0.1);
                            border: 1px solid rgba(0,0,0,0.2);
                            color: rgba(167, 230, 243, 0.8);
                            font-size: 0.92rem;
                            letter-spacing: 1px;
                            padding: 6px 8px;
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
    }
}