@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-25px);
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 16px;
  gap: 12px;

  &.aboutMeOpen {
    animation: fadeIn 0.4s ease-in-out forwards;
  }
  &.aboutMeClose {
    animation: fadeOut 0.4s ease-in-out forwards;
  }

  h2 {
    font-size: 1.2rem;
    color: $primaryTextColor
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    color: $secondaryTextColor;
    line-height: 1.4;
  }
}
