.navLinks-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 10;

    .navLinksField {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        max-width: 240px;
        background-color: rgba(0,0,0,0.3);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        box-shadow: 0 0 9px rgba(0,0,0,0.5);
        padding: 4px 4px 4px 4px;
        margin: 8px 0 0 0;

        .navLinks {
            display: flex;
            flex-direction: row;
            gap: 14px;
        }

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(250,250,250,0.14);
            border-radius: 8px;
            box-shadow: 0 0 6px rgba(0,0,0,0.6);
            color: #ddd;
            font-size: 1.4rem;
            text-decoration: none;
            padding: 4px 5%;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: rgba(250,250,250,0.32);
            }
        } a { width: 44px; height: 44px; }
    }
}
